.git
.gitignore
.venv
venv
env
__pycache__
*.pyc
*.pyo
*.pyd
*.sqlite3
*.egg-info
*.egg
.DS_Store
Thumbs.db
.env
.env.example
staticfiles
media
postgres_data
Dockerfile
docker-compose.yml
.idea
.vscode