SECRET_KEY=django-insecure-cg%v6itz2tdc_)3o(se92@r)u_2=b0x9=an%l2t(ce4-(z5bvv
DEBUG=True

POSTGRES_DB=hallseatmanagment
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234
# Docker: use host.docker.internal to reach PostgreSQL running on your machine.
# Local (non-Docker) dev: use 127.0.0.1
POSTGRES_HOST=host.docker.internal
POSTGRES_PORT=5432

ADMIN_SITE_HEADER=Student Accommodation Management
ADMIN_SITE_TITLE=SAM
ADMIN_INDEX_TITLE=Administration
